gymnasium<1.0.0
jax-jumpy==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
matplotlib
moviepy==1.0.3
numpy<2.0
pandas
protobuf
pygame
stable-baselines3
tqdm
wandb
#torchrl==0.7.2
#tensordict==0.7.2
torchinfo
tyro
loguru
torchrl==0.7.2
tensordict==0.7.2
#torch==2.6.0
#torchvision==0.21.0
#torchaudio==2.6.0
hydra-core
